:root {
  --text: #021026;
  --primary: #0086E5;
  --placeholder: #B3B7BE;
  --font: 'Hanken Grotesk', sans-serif;
  --white: #ffffff
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: var(--font);
}
body {
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: var(--text);
}
.card {
  border: 2px solid var(--white);
  padding: 30px;
  border-radius: 20px;
}
h1 {
  font-size: 20px;
  color: var(--white);
  margin-bottom: 20px;
}
.input {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}
.input label {
  color: var(--white);
  font-size: 14px;
  margin-bottom: 2px;
}
.input input {
  border-radius: 8px;
  border: 2px solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
  padding: 8px 12px;
  width: 350px;
}
.input input::placeholder {
  color: var(--placeholder);
}
.input input:focus {
  outline: 1px solid var(--primary);
}
button {
  font-size: 16px;
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--white);
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 12px;
  margin-top: 30px;
  transition: 300ms;
}

button:hover {
  background-color: #005693;
}

#result {
  font-size: 18px;
  color: var(--primary);
  margin-top: 20px;
  font-weight: 800;
}